 
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color:#FD6E0A ;
}
 
 nav{
    display: flex;
    align-items: center;
     /* align-items: center= aki line a asbe dui ta child */
    margin: 0px 200px;
    justify-content: space-between;
    /* justify-content: space-between= dui passe chole jabe lekha gula; */
}
.btn-primary{
   font-weight: bold;
   font-size: 20px;
   color: white;
   border: none;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;

}
nav ul{
    display: flex;
    align-items: center;
}
.nav title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
     list-style:none;
     margin-right: 50px;
}

nav ul a {
    text-decoration: none;
}
.dark-2{
    color: #1E1E1E;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
/* banner styles */

.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    height: 676px;
    width: 584px;
}
.banner{
    display: flex;
    margin: 0 30px 0 200px;
    justify-content: space-between;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
   
   
}
.about-description{
    color: #757575;
    font-size: 18px;

}
.secondary-bg{
    background-color: #FFF8F3;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;

}
.iteam-name{
    
    font-size: 20px;
    font-weight: bold;
}
.about-iteams{
    display: flex;
    justify-content: space-around;
    
    
}